Package: ca-manager
Version: 0.1
Section: base
Priority: optional
Architecture: any
Depends: bash (>= 4.0.0)
Maintainer: Benjamin Plain <bplain@blackhawkelectronics.com>
Description: Certificate Authority Manager
 A nice tool for when you want to be your own authority.
 